@using Aiursoft.Template.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item mr-3">
                <a asp-controller="Manage" asp-action="Index" title="Manage" class="nav-link">
                    你好， @UserManager.GetUserName(User)!
                </a>
            </li>
            <li class="nav-item mr-3">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">
                    登出
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item mr-3">
            <a class="nav-link" asp-controller="Account" asp-action="Register">
                <i class="fa-solid fa-user-plus"></i>
                注册
            </a>
        </li>
        <li class="nav-item mr-3">
            <a class="nav-link" asp-controller="Account" asp-action="Login">
                <i class="fa-solid fa-user-pen"></i>
                登入
            </a>
        </li>
    </ul>
}
