@model Aiursoft.Template.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "管理账户";
}

<h2>@ViewData["Title"].</h2>

<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>修改账户设置</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>密码:</dt>
        <dd>
            <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">修改</a>
        </dd>
    </dl>
</div>
